{% extends 'base.html' %}
 {% load static %}
{% block contents %}
<body style="background-color: #000; " >
        <!--Page Banner Section start-->
        <div class="page-banner-section section" >
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="page-banner-title">Our App</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li class="active">Our App</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Page Banner Section end-->
    
            <!--Download apps section start-->
            <div class="download-section download-section-2 section pt-10 pt-lg-40 pt-md-30 pt-sm-30 pt-xs-20 pb-30 pb-lg-20 pb-md-20 pb-sm-10 pb-xs-10" >
                <div class="container">
                    <div class="row align-items-center">
                       
                        <!--Download Content start-->
                        <div class="col-md-6 col-12 mb-30">
                            <div class="download-content-2">
                                <h1>Our <span>RentChap</span> App <br>Is Comming soon!</h1>
                                <div class="buttons justify-content-start">
                                    <a href="#">
                                        <i class="fa fa-apple"></i>
                                        <span class="text">
                                            <span>Coming soon on</span>
                                            Apple Store
                                        </span>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-android"></i>
                                        <span class="text">
                                            <span>Coming soon on</span>
                                            Google Play
                                        </span>
                                    </a>
                                    <!-- <a href="#">
                                        <i class="fa fa-windows"></i>
                                        <span class="text">
                                            <span>Download form</span>
                                            Windows Store
                                        </span>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                        <!--Download Content end-->
                        
                        <!--Download Image Start-->
                        <div class="col-md-5 col-12 mb-30">
                            <div  class="download-image"><img style="height: 500px;" src="{% static 'images/phone1.png' %}" alt=""></div>
                        </div>
                        <!--Download Image end-->
                        
                    </div>
                </div>
            </div>
            <!--Download apps section end-->
     
</body>
{% endblock contents %}