   
   {% load static %}
   <!--Download apps section start-->
    <div class=" mt-5 download-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50" style="background-image: url({% static 'images/download-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    
                    <!--Download Content start-->
                    <div class="download-content">
                        <h1>Our <span>RentChap</span> App <br>Is Comming soon!</h1>
                        <div class="buttons">
                            <a class="rounded-pill" href="#">
                                <i class="fa fa-apple"></i>
                                <span class="text">
                                    <span>Coming soon on</span>
                                    Apple Store
                                </span>
                            </a>
                            <a class="rounded-pill" href="#">
                                <i class="fa fa-android"></i>
                                <span class="text rounded-pill">
                                    <span>Coming soon on</span>
                                    Google Play
                                </span>
                            </a>
                            <!-- <a href="#">
                                <i class="fa fa-windows"></i>
                                <span class="text">
                                    <span>Download form</span>
                                    Windows Store
                                </span>
                            </a> -->
                        </div>
                        <div class="image"><img style="margin-bottom: -150px; margin-top: -200px;" src="{% static 'images/phone2.png' %}" alt=""></div>
                    </div>
                    <!--Download Content end-->
                    
                </div>
            </div>
        </div>
    </div>