<div class="row">
    <div class="col-md-7">
        <p>
            Subscribe our newsletter and get all latest news about our latest properties, promotions, offers and discount
        </p>
    </div>
    <div class="col-md-5 mt-5">
        <form id="mc-form" class="mc-form footer-newsletter mt-2" >
            <input style="color: black;"  type="email"  placeholder="Email Here.." />
            <button id="mc-submit"><i class="fa fa-paper-plane-o"></i></button>
        </form>
    </div>
</div>